page-participate {

  .requester-info{
    font-size: 170%;
  }

  .requester-info-odd{
    font-size: 170%;
    background-color: #E5E8E8;
  }

  .input-box{
    font-size: 190%;
    font-weight: bold;
  }

}
