page-dashboard{
    .subtitle{
       float: right;


    }
    .title{
    
       display: inline;

    }

    .container{
        width:100%;
       
    }
    .card1{
        width: 40%;
        display: inline-block;
       
    }
    .card2{
        width: 40%;
        
        display: inline-block;
       
    }
  
}