page-dashboard{
    .title-container {
        display: flex;
        flex-direction: "row";
    }
    .subtitle{
       flex: 2;
    }
    .title{
        flex: 2;
    }
    .menu {
        flex: 1;
    }

    .container{
        display: flex;
        flex-direction: row;
       
    }
    .card{
        
        flex: 1;
        text-align: center;
       
    }
    .card2 {
        flex: 1;
        text-align: center;
        margin-top: 10px;
    }
    .number{
        font-size: 46px;
    }
    .currency {
        font-size: 20px;
        text-align: center;
    }
    

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
  
}